@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="/V3">V3 Demo</a>
</div>


<div>
    <a href="/V3_Programmatically">V3 Programmatically Demo</a>
</div>


<div>
    <a href="/V2_Invisible">V2_Invisible Demo</a>
</div>


<div>
    <a href="/V2_Checkbox">V2_Checkbox Demo</a>
</div>
