@page
@model reCAPTCHA.Demo.Pages.V2_InvisibleModel
@{
    ViewData["Title"] = "V2_Invisible";
}

<pre>@Model.Result</pre>

<script>
    function callback(token) {
        document.getElementById("token").value = token;
        document.getElementById("demo-form").submit();
    }
</script>

<recaptcha-script-v2  />

<form id="demo-form" method="POST">
    <input id="token" name="token" type="text" />
    <button recaptcha-v2-callback="callback" recaptcha-v2-size="invisible">Submit</button>
</form>

