@page
@using Microsoft.Extensions.Options
@using Owl.reCAPTCHA
@model reCAPTCHA.Demo.Pages.V3Model
@inject IOptions<reCAPTCHAOptions> Options
@{
    ViewData["Title"] = "V3";
}

<pre>@Model.Result</pre>

<form method="POST">
    <input id="token" name="token" type="text" />
    <input id="submit" type="submit" value="submit" disabled="disabled" />
</form>


<script>
    function callback(token) {
        document.getElementById("token").value = token;
        document.getElementById("submit").disabled = false;
    }
</script>

<recaptcha-script-v3 />
<recaptcha-script-v3-js action="login" callback="callback" />